* {
    margin: 0;
    padding: 0;
}

:root {
    --font-title: 30px;
}

body {
    color: #272727;
    background-color: #f3e5d8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: aliceblue;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
}

.contein {
    max-width: 100%;
    padding: 40px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    margin: 15px 0;
    font-size: var(--font-title);
}

p{
    margin-top: 10px;
    margin-bottom: 20px;    
}

h3 {
    color: #813434;
    margin: 15px 0;
    font-size: 1.5rem;
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

li::marker {
    color: #813434;
}

.preparation {
    background-color: #e6dada;
    padding: 20px;
    border-radius: 10px;
}

.preparation h3 {
    color: #74223a;
    margin-bottom: 10px;
    font-size: 1.1rem
}

.preparation li::marker {
    color: #74223a;
}

hr {
    margin-top: 20px;
    border-color: #2222221e;
}
span {
    color: #7a3838;
    font-weight: bold;
    float: right;
    margin-right: 40%;
 }