* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d1ad7f;
}

.container {
    background-color: aliceblue;
    max-width: 60%;
    margin: 10% auto 10% auto;
    border-radius: 10px;
}

.contein {
    max-width: 100%;
    padding: 5%;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    margin: 15px 0;
}

p{
    margin-top: 10px;
    margin-bottom: 20px;    
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.third-title {
    color: #813434;
    margin: 15px 0;
    font-size: 1.5rem;
}

.preparation {
    background-color: #c9bcbc;
    padding: 20px;
    border-radius: 10px;
}

.preparation h3 {
    color: #b13b3b;
    margin-bottom: 10px;
    font-size: 1.1rem
}

hr {
    margin-top: 20px;
}